{% extends 'base.html' %}
{% block title %}Cadastro de Curso{% endblock %}
{% block content %}



<h1>Cadastro de Curso</h1>
<form action="" method="post">
    {% csrf_token %}

    <label for="txtDisciplina">Nome da disciplina:</label>
    <input type="text" name="disciplina" id="txtDisciplina"  maxlength="40" required><br/>

    <br/>

    <button type="submit" class="save btn btn-default">Salvar</button>
<br/>
    <br/>

    {{ mensagem }}
    {% if erros %}
        {% for erro in erros %}
            <p>{{erro}}</p>
        {% endfor %}
    {% endif %}
</form>
{% endblock %}