<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verdadeiro ou falso</title>
</head>
<body>

<form>
    {% csrf_token %}
    <h1>QUESTÃO 1</h1>
    <p>Três homens, Luís, Carlos e Paulo, são casados com Lúcia, Patrícia e Maria, mas não sabemos quem é casado com
        quem. Eles trabalham com engenharia, Advocacia e Medicina, mas também não sabemos quem faz o quê. Com base nas
        dicas abaixo, tente descobrir o nome de cada esposa e a profissão de cada um.</p>
    <INPUT TYPE="RADIO" NAME="OPCAO" VALUE="op1"> VERDADEIRO
    </br>
    <INPUT TYPE="RADIO" NAME="OPCAO" VALUE="op2"> FALSO

</form>

<form>
    {% csrf_token %}
    <h1>QUESTÃO 2</h1>
    <p>Três homens, Luís, Carlos e Paulo, são casados com Lúcia, Patrícia e Maria, mas não sabemos quem é casado com
        quem. Eles trabalham com engenharia, Advocacia e Medicina, mas também não sabemos quem faz o quê. Com base nas
        dicas abaixo, tente descobrir o nome de cada esposa e a profissão de cada um.</p>
    <INPUT TYPE="RADIO" NAME="OPCAO" VALUE="op1"> VERDADEIRO
    </br>
    <INPUT TYPE="RADIO" NAME="OPCAO" VALUE="op2"> FALSO

</form>

<form>
    {% csrf_token %}
    <h1>QUESTÃO 3</h1>
    <p>Três homens, Luís, Carlos e Paulo, são casados com Lúcia, Patrícia e Maria, mas não sabemos quem é casado com
        quem. Eles trabalham com engenharia, Advocacia e Medicina, mas também não sabemos quem faz o quê. Com base nas
        dicas abaixo, tente descobrir o nome de cada esposa e a profissão de cada um.</p>
    <INPUT TYPE="RADIO" NAME="OPCAO" VALUE="op1"> VERDADEIRO
    </br>
    <INPUT TYPE="RADIO" NAME="OPCAO" VALUE="op2"> FALSO

</form>

<form>
    {% csrf_token %}
    <h1>QUESTÃO 4</h1>
    <p>Três homens, Luís, Carlos e Paulo, são casados com Lúcia, Patrícia e Maria, mas não sabemos quem é casado com
        quem. Eles trabalham com engenharia, Advocacia e Medicina, mas também não sabemos quem faz o quê. Com base nas
        dicas abaixo, tente descobrir o nome de cada esposa e a profissão de cada um.</p>
    <INPUT TYPE="RADIO" NAME="OPCAO" VALUE="op1"> VERDADEIRO
    </br>
    <INPUT TYPE="RADIO" NAME="OPCAO" VALUE="op2"> FALSO

</form>

<form>
    <h1>QUESTÃO 5</h1>
    <p>Três homens, Luís, Carlos e Paulo, são casados com Lúcia, Patrícia e Maria, mas não sabemos quem é casado com
        quem. Eles trabalham com engenharia, Advocacia e Medicina, mas também não sabemos quem faz o quê. Com base nas
        dicas abaixo, tente descobrir o nome de cada esposa e a profissão de cada um.</p>
    <INPUT TYPE="RADIO" NAME="OPCAO" VALUE="op1"> VERDADEIRO
    </br>
    <INPUT TYPE="RADIO" NAME="OPCAO" VALUE="op2"> FALSO
    {% csrf_token %}
</form>

<form>
    <h1>QUESTÃO 6</h1>
    <p>Três homens, Luís, Carlos e Paulo, são casados com Lúcia, Patrícia e Maria, mas não sabemos quem é casado com
        quem. Eles trabalham com engenharia, Advocacia e Medicina, mas também não sabemos quem faz o quê. Com base nas
        dicas abaixo, tente descobrir o nome de cada esposa e a profissão de cada um.</p>
    <INPUT TYPE="RADIO" NAME="OPCAO" VALUE="op1"> VERDADEIRO
    </br>
    <INPUT TYPE="RADIO" NAME="OPCAO" VALUE="op2"> FALSO
    {% csrf_token %}
</form>

<form>
    <h1>QUESTÃO 7</h1>
    <p>Três homens, Luís, Carlos e Paulo, são casados com Lúcia, Patrícia e Maria, mas não sabemos quem é casado com
        quem. Eles trabalham com engenharia, Advocacia e Medicina, mas também não sabemos quem faz o quê. Com base nas
        dicas abaixo, tente descobrir o nome de cada esposa e a profissão de cada um.</p>
    <INPUT TYPE="RADIO" NAME="OPCAO" VALUE="op1"> VERDADEIRO
    </br>
    <INPUT TYPE="RADIO" NAME="OPCAO" VALUE="op2"> FALSO
    {% csrf_token %}
</form>

<form>
    <h1>QUESTÃO 8</h1>
    <p>Três homens, Luís, Carlos e Paulo, são casados com Lúcia, Patrícia e Maria, mas não sabemos quem é casado com
        quem. Eles trabalham com engenharia, Advocacia e Medicina, mas também não sabemos quem faz o quê. Com base nas
        dicas abaixo, tente descobrir o nome de cada esposa e a profissão de cada um.</p>
    <INPUT TYPE="RADIO" NAME="OPCAO" VALUE="op1"> VERDADEIRO
    </br>
    <INPUT TYPE="RADIO" NAME="OPCAO" VALUE="op2"> FALSO
    {% csrf_token %}
</form>

<form>
    <h1>QUESTÃO 9</h1>
    <p>Três homens, Luís, Carlos e Paulo, são casados com Lúcia, Patrícia e Maria, mas não sabemos quem é casado com
        quem. Eles trabalham com engenharia, Advocacia e Medicina, mas também não sabemos quem faz o quê. Com base nas
        dicas abaixo, tente descobrir o nome de cada esposa e a profissão de cada um.</p>
    <INPUT TYPE="RADIO" NAME="OPCAO" VALUE="op1"> VERDADEIRO
    </br>
    <INPUT TYPE="RADIO" NAME="OPCAO" VALUE="op2"> FALSO

</form>

<form>
    <h1>QUESTÃO 10</h1>
    <p>Três homens, Luís, Carlos e Paulo, são casados com Lúcia, Patrícia e Maria, mas não sabemos quem é casado com
        quem. Eles trabalham com engenharia, Advocacia e Medicina, mas também não sabemos quem faz o quê. Com base nas
        dicas abaixo, tente descobrir o nome de cada esposa e a profissão de cada um.</p>
    <INPUT TYPE="RADIO" NAME="OPCAO" VALUE="op1"> VERDADEIRO
    </br>
    <INPUT TYPE="RADIO" NAME="OPCAO" VALUE="op2"> FALSO
    {% csrf_token %}
</form>
</br></br></br>
<form>
    <input type="button" name="enviar" value="ENVIAR">
</form>
</body>
</html>