<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Teste aberto</title>
</head>
<body>

<h1>Questões com respostas abertas</h1>
</br>

<form action="" method="post">
    {% csrf_token %}
    <p>Em silogismos condicionais, o modo de se provar pela afirmação é chamado</p>
    <input type="text" name="resp1"  required />
    </br></br>
    <hr>

    <p>Em silogismos condicionais, o modo de se provar pela afirmação é chamado</p>
    <input type="text" name="resp2"  required />
    </br></br>
    <hr>

    <p>Em silogismos condicionais, o modo de se provar pela afirmação é chamado</p>
    <input type="text" name="resp3"  required />
    </br></br>
    <hr>

    <p>Em silogismos condicionais, o modo de se provar pela afirmação é chamado</p>
    <input type="text" name="resp4"  required />
    </br></br>
    <hr>

    <p>Em silogismos condicionais, o modo de se provar pela afirmação é chamado</p>
    <input type="text" name="resp5"  required />
    </br></br>
    <hr>

    <p>Em silogismos condicionais, o modo de se provar pela afirmação é chamado</p>
    <input type="text" name="resp6"  required />
    </br></br>
    <hr>

    <p>Em silogismos condicionais, o modo de se provar pela afirmação é chamado</p>
    <input type="text" name="resp7"  required />
    </br></br>
    <hr>

    <p>Em silogismos condicionais, o modo de se provar pela afirmação é chamado</p>
    <input type="text" name="resp8"  required />
    </br></br>
    <hr>

    <p>Em silogismos condicionais, o modo de se provar pela afirmação é chamado</p>
    <input type="text" name="resp9"  required />
    </br></br>
    <hr>

    <p>Em silogismos condicionais, o modo de se provar pela afirmação é chamado</p>
    <input type="text" name="resp10"  required />
    </br></br>
    <hr>

    <button type="submit">Enviar</button>

</form>


</body>
</html>