<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav>
    <li><a href="{% url 'login' %}">Home</a></li>
    <li><a href="{% url 'index' %}">Listagens</a></li>
    <li><a href="{% url 'opcao_testes_online' %}">Aplicar Teste online</a></li>
    <li><a href="{% url 'novas_atividades' %}">Cadastrar nova atividade</a></li>
    <li><a href="{% url 'avisos' %}">Enviar avisos</a></li>
    <li><a href="{% url 'cadastro_perfis' %}">Cadastro de usuarios</a></li>
    <li><a href="{% url 'cadastro_curso_turma' %}">Cadastro de curso por turma</a></li>
    <li><a href="{% url 'cadastro_curso' %}">Cadastro de curso</a></li>
    <li><a href="{% url 'cadastro_disciplina' %}">Cadastro de disciplina</a></li>
    <li><a href="{% url 'editar_disciplina' %}">Editar disciplinas</a></li>
    <li><a href="{% url 'deleta_disciplina' %}">Deletar disciplinas</a></li>
    <li><a href="{% url 'deleta_curso' %}">Deletar cursos</a></li>
    <li><a href="{% url 'lista_disciplina' %}">Lista disciplinas</a></li>
    <li><a href="{% url 'lista_curso' %}">Lista cursos</a></li>


    {% block url %}
    {% endblock %}
</nav>
<br>
<br>

{% block content %}

{% endblock %}

<br>
<br>
<footer>
    Todos direitos reservados
</footer>
</body>
</html>