<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav>
    <li><a href="{% url 'login' %}">Home</a></li>
    <li><a href="{% url 'index' %}">Listagens</a></li>
    <li><a href="{% url 'avisos' %}">Enviar avisos</a></li>
    {% if usuario_logado.ra == 2000 %}
    <li><a href="{% url 'opcao_testes_online' %}">Aplicar Teste online</a></li>
    <li><a href="{% url 'nova_questao' %}">Cadastrar nova questão</a></li>
    <li><a href="{% url 'novas_atividades' %}">Avisar sobre nova atividade</a></li>
    <li><a href="{% url 'avisos_aluno' %}">Enviar avisos para aluno</a></li>
    <li><a href="{% url 'visualizar_avisos_professor' %}">Avisos</a></li>
    <li><a href="{% url 'abrir_matricula' %}">Abrir matricula</a></li>
    {% elif usuario_logado.ra == 1000%}
    <li><a href="{% url 'visualizar_avisos' %}">Avisos</a></li>
    <li><a href="{% url 'avisos_professor' %}">Enviar aviso para professor</a></li>
    <li><a href="{% url 'upload_foto' %}">Upload de foto</a></li>
    <li><a href="{% url 'perfil_aluno' %}">Perfil</a></li>
    {% endif %}

    {% block url %}
    {% endblock %}
</nav>
<br>
<br>

{% block content %}

{% endblock %}

<br>
<br>
<footer>
    Todos direitos reservados
</footer>
</body>
</html>