{% extends 'base.html' %}
{% block title %}Cadastro de Plano de Ensino{% endblock %}
{% block content %}
<h1>Cadastro de Plano de Ensino</h1>
<form action="" method="post">
    {% csrf_token %}
    <label id="txtPlanoEnsino">Plano de ensino:</label>
    <input type="text" name="planoEnsino" id="txtPlanoEnsino"  maxlength="30" required>
    <button type="submit" class="save btn btn-default">Salvar</button>
    {% if erros %}
        {% for erro in erros %}
            <p>{{erro}}</p>
        {% endfor %}
    {% endif %}
</form>
{% endblock %}