{% extends 'base.html' %}
{% block title %}Cadastro de Curso{% endblock %}
{% block content %}
<h1>Cadastro de Curso</h1>
<form action="" method="post">
    {% csrf_token %}
    <label id="txtCurso">Nome do curso:</label>
    <input type="text" name="curso" id="txtCurso"  maxlength="40" required>
    <button type="submit" class="save btn btn-default">Salvar</button>
    {% if erros %}
        {% for erro in erros %}
            <p>{{erro}}</p>
        {% endfor %}
    {% endif %}
</form>
{% endblock %}