{% extends 'base.html' %}
{% block title %}Cadastro de Usuário{% endblock %}
{% block content %}
<h1>Cadastro de Usuário</h1>
<form action="" method="post">
    {% csrf_token %}
    <label id="txtRa">RA</label>
    <input type="number" name="ra" id="txtRa" min="1000" required>
    <br>
    <label id="txtNome">Nome</label>
    <input type="text" name="nome" id="txtNome" required>
    <br>
    <label id="txtSenha">Senha</label>
    <input type="password" name="senha" id="txtSenha" required>
    <br>
    <label id="txtPerfil">Perfil</label>
    <select  name="perfil" id="txtPerfil" required>
        {% for perfil in perfis %}
        <option value="{{perfil.PRF_IdPerfil}}">{{perfil.PRF_DSSPerfil}}</option>
        {% endfor %}
    </select>
    <br>
    <button type="submit" class="save btn btn-default">Salvar</button>

    {% if erros %}
        {% for erro in erros %}
            <p>{{erro}}</p>
        {% endfor %}
    {% endif %}
</form>
{% endblock %}