{% extends 'base.html' %}
{% block content %}

{% if usuario_logado %}
<h1>Ola usuario logado</h1>
{% else %}
<h1>Nao :(</h1>
{% endif %}

<h1>Lista usuários</h1>
{% for usuario in usuarios %}
    <li>{{usuario.USR_DssNome}} - {{usuario.USR_IdPerfil}}</li>
{% endfor %}

<br>

<hr>

<h1>Lista cursos</h1>
{% for curso in cursos %}
    <li>{{curso.CUR_DssCurso}}</li>
{% endfor %}

<br>

<hr>

<h1>Lista perfis</h1>

{% for perfil in perfis %}
    <li>{{perfil.PRF_DSSPerfil}}</li>
{% endfor %}

<br>

<hr>

<h1>Lista Disciplinas Ementas</h1>
{% for disciplina_ementa in disciplinas %}
    <li>{{disciplina_ementa.DIS_DssDisciplina}} - {{disciplina_ementa.DIS_DssEmenta}} </li>
{% endfor %}

<br>

<hr>

<h1>Lista Planos Ensinos</h1>
{% for plano_ensino in planosEnsinos %}
    <li>{{plano_ensino.PLE_DssPlanoEnsino}}</li>
{% endfor %}

<br>

<hr>

<h1>Lista Disciplinas Planos de Ensinos</h1>
{% for disciplina_plano_ensino in disciplinas_planos_ensino %}
    <li>{{disciplina_plano_ensino.DPL_IdDisciplina}} - {{disciplina_plano_ensino.DPL_IdPlanoEnsino}}</li>
{% endfor %}

<br>

<hr>

<h1>Lista Curso Disciplinas</h1>
{% for curso_disciplina in cursosDisciplinas %}
    <li>{{curso_disciplina.CDS_IdCurso}} - {{curso_disciplina.CDS_IdDisciplina}}</li>
{% endfor %}


{% endblock %}
