{% extends 'base.html' %}
{% block content %}

<form method="POST" action="">
    {% csrf_token %}
     <input type="radio" name="tipo" value="a" required> Aluno
    <br>
    <input type="radio" name="tipo" value="p" required> Professor
    <br>
    <br>
    <input type="number" name="ra" min="1000" required placeholder="Ra">
    <input type="password" name="senha" required placeholder="Senha">
    <button type="submit">Entrar</button>

    {% if erros %}
    {% for erro in erros %}
    <p>{{erro}}</p>
    {% endfor %}
    {% endif %}
</form>


{% endblock %}
